{% extends 'dashboard/base.html' %}


{% block content %}
<div class="col-md-7 col-lg-10 mt-5 ms-4">
    <h4 class="mb-3">Add Course</h4>
    <form class="needs-validation" novalidate="" action="create-course/create" method="post">
        {% csrf_token %}
      <div class="row g-3">
        <div class="col-sm-2">
          <label for="courseCode" class="form-label">Course Code</label>
          <input type="text" class="form-control" id="courseCode" maxlength="7" placeholder="SHA 001" value="" required="required" name="courseCode">
          <div class="invalid-feedback">
            Valid Course Code is required.
          </div>
        </div>

        <div class="col-sm-8">
          <label for="courseTitle" class="form-label">Course Title</label>
          <input type="text" class="form-control" id="courseTitle" placeholder="Doe" value="" required="required" name="courseTitle">
          <div class="invalid-feedback">
            Valid Course Title is required.
          </div>
        </div>

        
        <div class="col-sm-2">
          <label for="creditLoad" class="form-label">Credit Load</label>
          <input type="text" class="form-control" id="creditLoad" placeholder="2" value="" required="required" name="creditLoad">
          <div class="invalid-feedback">
            Valid Credit Load is required.
          </div>
        </div>


          <div class="col-md-2">
            <label for="level" class="form-label">Level</label>
            <select class="form-select" id="level" required="required" name="level">
              <option value="">Choose...</option>
              {% for l in levels %}
              <option value="{{ l }}">{{ l }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid level.
            </div>
          </div>

          <div class="col-md-4">
            <label for="faculty" class="form-label">Faculty</label>
            <select class="form-select" id="faculty" required="required" name="faculty">
              <option value="">Choose...</option>
              {% for f in faculties %}
              <option value="{{ f }}">{{ f }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid faculty.
            </div>
          </div>

          <div class="col-md-6">
            <label for="department" class="form-label">Department</label>
            <select class="form-select" id="department" required="required" name="department">
              <option value="">Choose...</option>
              {% for d in departments %}
              <option value="{{ d }}">{{ d }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid department.
            </div>
          </div>

      <!-- <hr class="my-4"> -->

      <div class="col-6 d-flex justify-content-between float-end">
        <button class="btn btn-primary col-8" type="submit">Create Course</button>
        <a name="cancel" id="" class="btn btn-danger col-3" href="create-course/cancel" role="button">Cancel</a>
      </div>
    </form>

    <hr class="my-4 mt-5">

    <div class="col-12 d-flex">
      
      <form method="post"  enctype="multipart/form-data" action="create-course/batch-create" class="col-6">
        {% csrf_token %}
        <div class="mb-3">
          <label for="" class="form-label h4 mb-4">Batch Create Course</label>
          <input type="file" class="form-control" name="csv_files" id="csv_file" placeholder="" aria-describedby="fileHelpId">
          <div id="fileHelpId" class="form-text">Upload CSV file</div>
          <button class="btn btn-primary col-4 float-end mt-2 btn-sm" type="submit">Create Courses</button>
        </div>
      </form>
      
      <div class="col-4 ms-5 mb-5">
        <p class="h4">Download CSV Template</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
          <path d="M480 352h-133.5l-45.25 45.25C289.2 409.3 273.1 416 256 416s-33.16-6.656-45.25-18.75L165.5 352H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456zM233.4 374.6C239.6 380.9 247.8 384 256 384s16.38-3.125 22.62-9.375l128-128c12.49-12.5 12.49-32.75 0-45.25c-12.5-12.5-32.76-12.5-45.25 0L288 274.8V32c0-17.67-14.33-32-32-32C238.3 0 224 14.33 224 32v242.8L150.6 201.4c-12.49-12.5-32.75-12.5-45.25 0c-12.49 12.5-12.49 32.75 0 45.25L233.4 374.6z"/>
        </svg>
        <a name="create-course/course-list-template" id="create-course/course-list-template" class="btn btn-primary btn-sm" href="create-course/course-list-template" role="button">Download Template</a>
      </div>
    </div>
  </div>

{% endblock %}